$default-font-size: 2rem;
$font-primary: 'Lato', Helvetica, sans-serif;

// Grays
$gray-100: #f5f8fb !default;
$gray-200: #f2f5f8;
$gray-300: #e3e6f0 !default;
$gray-400: #d4d7dd !default;
$gray-500: #a7a7a7;
$gray-600: #4f4f4f;
$gray-700: #272727;
$gray-800: #181515;
$black: #000 !default;

$primary-color: #ff385c;
