.nav {
	&__list {
		list-style-type: none;
		display: flex;
		align-items: center;
		width: 100%;

		@media (max-width: $breakpoint-tablet-portrait) {
			justify-content: center;
			flex-direction: column;
			padding-left: 5rem;
		}

		@media (max-width: $breakpoint-mobile-max) {
			padding-left: 0;
		}
	}

	&__item {
		margin-right: auto;
		@media (max-width: $breakpoint-tablet-portrait) {
			margin: 0 auto;
		}
		&:not(:last-of-type) {
			margin-right: 1.5rem;
			padding: 1rem 1.6rem !important;
			@media (max-width: $breakpoint-tablet-portrait) {
				margin: 0 auto;
			}
		}

		&:nth-of-type(1) {
			margin-right: auto;
			font-weight: bold;
		}
	}

	&__link {
		font-size: 1.7rem;
		font-family: $font-primary;
		font-weight: 300;

		&:link,
		&:visited {
			text-decoration: none;
			color: $gray-100;
			transition: all 0.2s ease-in-out;
			position: relative;

			&::before {
				content: '';
				position: absolute;
				width: 0;
				height: 2px;
				background: $primary-color;
				transition: width 0.2s ease-in-out;
				transform: translateY(3rem);
			}
		}

		&:hover {
			color: $primary-color;

			&::before {
				content: '';
				position: absolute;
				width: 100%;
			}
		}
	}

	.brand {
		font-size: 3.2rem !important;
		font-weight: 700;
		color: $gray-100;
	}
}
