.cards {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
	grid-gap: 2rem;

	padding: 5rem 0;

	@media (max-width: $breakpoint-large) {
		padding: 5rem 3rem;
	}

	@media (max-width: $breakpoint-tablet) {
		padding: 5rem;
	}

	@media (max-width: $breakpoint-mobile-max) {
		grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
		padding: 3rem;
	}
}

.card {
	box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.1);
	border-radius: 1.5rem;
	overflow: hidden;
	position: relative;

	&__link {
		&::before {
			content: '';
			background: rgba(#333, 0.7);
			position: absolute;
			width: 100%;
			height: 100%;
			transition: all 0.2s ease-in-out;
		}

		&:hover,
		&:active {
			&::before {
				content: '\f0c1';
				font-weight: 900;
				width: 100%;
				height: 100%;
				background: linear-gradient(
					125deg,
					rgba(0, 0, 0, 0.4),
					rgba(0, 0, 0, 0.8)
				);
				font-size: 2rem;
				color: white;

				display: flex;
				justify-content: flex-end;
				align-items: center;
				padding-right: 2rem;
			}

			.card__movie,
			.card__show {
				transform: translateY(0);
			}

			.card__detail {
				opacity: 1;
				transform: translateY(0);
			}
		}
	}

	&__content {
		@include centered;
		width: 100%;

		& > * {
			margin: 0 3rem;
			font-size: 1.6rem;
		}
	}

	&__img {
		min-width: 100%;
	}

	&__movie,
	&__show {
		transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
		transform: translateY(35px);
	}

	&__title {
		font-size: 2.2rem;
		font-weight: 900;
		line-height: 1;
		margin-bottom: 0.5rem;
		color: white;
	}

	&__detail {
		opacity: 0;
		margin-top: 2rem;
		transform: translateY(35px);
		transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);

		// display: flex;

		& > p {
			font-size: 1.6rem;
			color: $gray-200;
		}
	}

	&__director,
	&__creators {
		color: $gray-400;
	}

	&__year {
		margin-top: auto;
	}
}
